<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Video Converter</title>
</head>
<body>
    <div class="container">
        <a class="home-button" href="{{ url_for('homepage') }}">
            <i class="fas fa-home"></i> Home
        </a>
        <h1><i class="fas fa-video"></i> Convert a Video</h1>
        <div class="converter-box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="{{url_for('convert_video')}}" method="POST" enctype="multipart/form-data">
                <div class="file-input-wrapper">
                    <button class="btn"><i class="fas fa-upload"></i> <span id="file-name">Choose a video file</span></button>
                    <input type="file" name="file" id="file-input" accept=".mp4,.avi,.mov,.wmv,.flv,.mkv,.webm">
                </div>
                <label for="format"><i class="fas fa-file-export"></i> Select output format:</label>
                <select name="format" id="format">
                    <option value="mp4">MP4</option>
                    <option value="avi">AVI</option>
                    <option value="mov">MOV</option>
                    <option value="wmv">WMV</option>
                    <option value="flv">FLV</option>
                    <option value="mkv">MKV</option>
                    <option value="webm">WebM</option>
                </select>
                <input type="submit" value="Upload and Convert">
            </form>
        </div>
    </div>
</body>
</html>
